[Unit]
Description=cg5317 Interface Bringup Service
After=network.target sys-subsystem-net-devices-seth0.device
Wants=sys-subsystem-net-devices-seth0.device

[Service]
ExecStart=/usr/sbin/ip link set seth0 up
User=root
Type=oneshot

[Install]
WantedBy=multi-user.target
